<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <main>
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control"
                   value="제목" th:value="${article.title}" readonly>
        </div>

        <div>
            <label for="content">내용</label>
            <input type="textarea" id="content" name="content" class="form-control"
                   value="내용" th:value="${article.content}" readonly>
        </div>

        <div>
            <form>
                <label for="articleComment" hidden>댓글</label>
                <textarea id="articleComment" placeholder="댓글 쓰기" row="3"></textarea>
                <button type="submit">댓글 입력</button>
            </form>
        </div>
        <div>
            <ul>
                <li>
                    <div>

                    </div>
                </li>
            </ul>
        </div>


    </main>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>