<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <main>
        <form>
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name="search-type">
                <option>제목</option>
                <option>본문</option>
                <option>ID</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input id="search-value" type="search" placeholder="검색어" name="search-value"/>
            <button type="submit">검색</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>해시태그</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td><a href="article.html" th:href="@{/articles/{articleId}(articleId=${article.id})}" th:text="${article.title}">게시글 제목</a></td>
                <td th:text="${article.hashtag}"></td>
                <td th:text="${article.createdBy}"></td>
                <td th:text="${article.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>